/*Цвета для элементов сайта*/

$background_menu: rgba(183, 156, 117, 0.5);
$background_menu_information_product: rgb(224, 200, 169);

$coloring_button_basket: linear-gradient(70deg, rgb(228, 207, 174) 2%, rgb(198, 176, 141) 99%);
$coloring_button_basket_hover: linear-gradient(70deg, rgb(203, 185, 157) 2%, rgb(178, 158, 125) 99%);



$coloring_button_arrange: linear-gradient(70deg, rgb(220, 198, 164) 2%, rgb(168, 147, 114) 99%);
$coloring_button_arrange_hover: linear-gradient(70deg, rgb(175, 156, 125) 2%, rgb(133, 112, 86) 99%);

$coloring_table_submit: #9b8267;
$coloring_button_submit: linear-gradient(70deg, rgb(220, 198, 164) 2%, rgb(168, 147, 114) 99%);
$coloring_button_submit_hover: linear-gradient(70deg, rgb(175, 156, 125) 2%, rgb(133, 112, 86) 99%);
